<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <%= link_to "Bulbists", root_path, id: "logo" %>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Help",    home_help_path %></li>
            <li><%= link_to "About",    home_about_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Profile', profile_path(current_user) %></li>|
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "SignUp", new_user_registration_path %></li>
              <li><%= link_to "SignIn", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>